
.aligner{
  display: flex;
  justify-content: center;
}

tr, td{
  text-align: center;
}

h1{
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.add-button-style{
  text-align: left;
  margin-left: 20px;
}

span{
  color:#6ed65e; 
  font-weight: bolder;
}