<p-table [value]="allGroupsList" [columns]="cols">
  <ng-template pTemplate="caption">Перехід на новий навчальний рік</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="checkbox-class"><p>Вибрати всі</p><p-checkbox [(ngModel)]="val" binary="true" (click)="checkboxEvent(val)"></p-checkbox></th>
      <th>Класи поточного року</th>
      <th>Класи нового навчального року</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr *ngFor="let col of columns">
      <td class="checkbox-class">               
        <p-checkbox [(ngModel)]="rowData[col.checkboxField]" binary="true"></p-checkbox>              
      </td>
      <td>{{rowData[col.classNameField]}} клас, {{rowData[col.classYearField]}} рік</td>      
      <td><span *ngIf="hideTag" [style.color]="rowData[col.colorStyleField]">{{rowData[col.newClassNameField]}} клас у {{rowData[col.newClassYearField]}} році</span></td>      
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="add-button-style">
      <button type="button" pButton icon="pi pi-plus" label="Перейти на новий навчальний рік" (click)="checkNumOfStudents()" [disabled]="buttonAddDisabled"></button>
    </div>
  </ng-template>
</p-table>
