
.aligner{
  display: flex;
  justify-content: center;
}

button{  
  margin: 20px;   
}

tr, td{
  text-align: center;
}

h1{
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}