.messageOfMistake
{
  width: 100%;
  padding: 5px;
  background-color: #dd2233;
  color: #ffffff;
}
.studentsForm ::ng-deep input
{
  width: 100%;
}
.classButton
{
  margin-right: 5px;
}
.classID
{
  width: 20% !important;
  float: right;
}
.mainInfo
{
  float: left;
  width: calc(50% - 7px);
  margin-right: 14px;
}
.secondaryInfo
{
  float: right;
  width: calc(50% - 7px);
}
.editButton
{
  text-align: center;
}
.activeClasses ::ng-deep .ui-fieldset
{
  margin-top: 60px;
}
