.hiddenBox
{
  display: none;
}
.messageOfMistake
{
  color: #ff0000;
  font-size: 11px;
  float: right;
}
.wrongData
{
  border: none;
  border-bottom-color: #ff0000 !important;
}
.wrongData1
{
  background-color: #ff0000 !important;
  color: white !important;
  border-color: #ff0000 !important;
}
.correctData1
{
  background-color: #00aa00 !important;
  color: white !important;
  border-color: #00aa00 !important;
}
.dateLabel
{
  font-size: 12px;
  color: #808080;
}
.studentsForm ::ng-deep input
{
  width: 100%;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #c0c0c0 !important;
}
.studentsForm ::ng-deep input:hover
{
  border-bottom-color: #000000 !important;
}
.avatar-url
{
  width: 120px;
  height: 120px;
  float: right;
  margin-top: 10px;
}
.ui-inputgroup
{
  display: flex;
  flex-direction: row-reverse;
}
.student-date-of-birth
{
  width: 100%;
}
.ui-inputgroup-addon
{
  border-radius: 3px;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  margin-right: 5px;
}
.studentsForm input:focus + .ui-inputgroup-addon
{
  background-color: #007ad9 !important;
  color: white !important;
  border-color: #007ad9 !important;
}
.selectClass
{
  padding: 7px 0;
  border-radius: 3px;
  font-size: 14px;
}
.classButton
{
  margin: 0 5px 5px 0;
}
.classID
{
  width: 20% !important;
  float: right;
  display: none;
}
.mainInfo
{
  float: left;
  width: calc(50% - 7px);
  margin-right: 14px;
}
.secondaryInfo
{
  float: right;
  width: calc(50% - 7px);
}
.editButton{
 text-align: center;
}
.action-tools {
  visibility: hidden;
  float: right;
  margin-right: 1em;
}
.studentRow:hover .action-tools
{
  visibility: visible;
}
.ui-card
{
  overflow: auto;
}
.student-data-container
{
  width: 590px;
  display: flex;
  flex-direction: row;
  .student-img
  {
    width: 40%;
    margin-right: 15px;
    .student-avatar
    {
      width: 100%;
      display: block;
    }
  }
  .student-data
  {
    width: 60%;
    text-align: center;
    position: relative;
    .student-class-title
    {
      width: 100%;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .student-name
    {
      width: 100%;
      display: inline-block;
      font-size: 24px;
      color: #007ad9;
      font-family: Verdana, Arial, sans-serif;
      margin-bottom: 10px;
    }
    .student-full-info
    {
      font-size: 16px;
      border: 1px solid #c0c0c0;
      border-radius: 3px;
      padding: 5px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      .student-data-record
      {
        font-weight: bold;
      }
    }
  }
}


