<p-fieldset legend="Активні класи" [toggleable]="true" [collapsed]="false">
  <span *ngFor="let  class_ of classes">
    <button *ngIf="class_.isActive" type="button" pButton icon="pi pi-folder" label="&nbsp;&nbsp;{{class_.className}}" title="{{class_.id}}" (click)="loadStudents(class_.id); selectedClassNameHandler(class_.className + ' класу')" class="ui-button-raised classButton"></button>
  </span>
</p-fieldset>
<br>
<p-fieldset legend="Класи минулих років" [toggleable]="true" [collapsed]="true">
  <span *ngFor="let  class_ of classes">
    <button *ngIf="!class_.isActive" type="button" pButton icon="pi pi-folder" label="&nbsp;&nbsp;{{class_.className}}&nbsp;&nbsp;({{class_.classYear}})" title="{{class_.id}}" (click)="loadStudents(class_.id); selectedClassNameHandler(class_.className + ' класу' + ' (' + class_.classYear + ' року)')" class="ui-button-raised classButton"></button>
  </span>
</p-fieldset>
<br>
<p-table [value]="students" [loading]="loading">
  <ng-template pTemplate="caption">
    Учні {{selectedClassName}}
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr class="studentRow">
      <td *ngFor="let col of cols">
        {{student[col.field]}}
        <button type="button" pButton icon="pi pi-info" *ngIf="col.field == 'dateOfBirth'" (click)="studentInfo($event, student, oPanel)" class="ui-button-raised ui-button-secondary action-tools"></button>
        <button type="button" pButton icon="pi pi-pencil" *ngIf="col.field == 'dateOfBirth'" (click)="editStudent(student)" class="ui-button-raised action-tools"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div style="text-align:left">
        <button type="button" (click)="createStudent(); this.firstname.reset(); this.lastname.reset(); this.patronymic.reset(); this.dateOfBirth.reset()" pButton icon="pi pi-plus" class="ui-button-raised" label="Додати учня"></button>
      </div>
  </ng-template>
</p-table>

<p-overlayPanel [showCloseIcon]="true" #oPanel>
  <div class="student-data-container">
    <div class="student-img">
      <img src="assets/avatar.png" class="student-avatar">
    </div>
    <div class="student-data">
      <span class="student-class-title">Учень {{selectedClassName}}</span><br>
      <span class="student-name">{{selectedStudent.firstname}} {{selectedStudent.patronymic}}<br>{{selectedStudent.lastname}}</span>
      <div class="student-full-info">
        <p><span class="student-data-record">Дата народження:</span> {{selectedStudent.dateOfBirth}}</p>
        <p><span class="student-data-record">Номер телефону:</span> {{selectedStudent.phone}}</p>
        <p><span class="student-data-record">Email:</span> {{selectedStudent.email}}</p>
        <p><span class="student-data-record">Логін:</span> {{selectedStudent.login}}</p>
      </div>
    </div>
  </div>
</p-overlayPanel>

<p-dialog header="Інформація Про Учня" [(visible)]="displayForm" [modal]="true" [responsive]="true" [width]="700" [height]="600" [minWidth]="200" [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <form class="studentsForm" #studentsForm="ngForm" autocomplete="off">
    <p-fieldset legend="Обов'язкові поля" class="mainInfo">
      <div class="ui-inputgroup">
        <input id="float-input-firstname" class="student-data-field" type="text" placeholder="Ім'я *" pInputText [class.wrongData]="firstname.invalid && firstname.touched" #firstname="ngModel" name="firstname" [(ngModel)]="newStudent.firstname" minlength="3" maxlength="20" required pattern="[А-ЯІЇЄҐ]([А-ЯІЇЄҐ]*[а-яіїєґ]*[\' -]?)+" />
        <span class="ui-inputgroup-addon" [class.wrongData1]="firstname.invalid && firstname.touched" [class.correctData1]="firstname.valid && firstname.touched"><i class="fas fa-user"></i></span>
      </div>
      <span [class.hiddenBox]="firstname.valid || firstname.untouched" class="messageOfMistake">Некоректне ім'я</span>
      <br>
      <div class="ui-inputgroup">
        <input id="float-input-lastname" class="student-data-field" type="text" placeholder="Прізвище *" pInputText [class.wrongData]="lastname.invalid && lastname.touched" #lastname="ngModel" name="lastname" [(ngModel)]="newStudent.lastname" minlength="3" maxlength="20" required pattern="[А-ЯІЇЄҐ]([А-ЯІЇЄҐ]*[а-яіїєґ]*[\' -]?)+" />
        <span class="ui-inputgroup-addon" [class.wrongData1]="lastname.invalid && lastname.touched" [class.correctData1]="lastname.valid && lastname.touched"><i class="fas fa-user"></i></span>
      </div>
      <span [class.hiddenBox]="lastname.valid || lastname.untouched" class="messageOfMistake">Некоректне прізвище</span>
      <br>
      <div class="ui-inputgroup">
        <input id="float-input-patronymic" class="student-data-field" type="text" placeholder="По батькові *" pInputText [class.wrongData]="patronymic.invalid && patronymic.touched" #patronymic="ngModel" name="patronymic" [(ngModel)]="newStudent.patronymic" minlength="6" maxlength="20" required pattern="[А-ЯІЇЄҐ]([А-ЯІЇЄҐ]*[а-яіїєґ]*[\' -]?)+" />
        <span class="ui-inputgroup-addon" [class.wrongData1]="patronymic.invalid && patronymic.touched" [class.correctData1]="patronymic.valid && patronymic.touched"><i class="fas fa-user"></i></span>
      </div>
      <span [class.hiddenBox]="patronymic.valid || patronymic.untouched" class="messageOfMistake">Некоректне по-батькові</span>
      <span class="ui-float-label">
        <input id="float-input-class" type="text" pInputText name="classId" [(ngModel)]="newStudent.classId" class="classID" disabled>
      </span>
      <span class="ui-float-label">
        <input id="float-input-oldPass" type="text" pInputText name="oldPass" [(ngModel)]="newStudent.oldPass" class="oldPass" disabled>
      </span>
      <span class="ui-float-label">
        <input id="float-input-newPass" type="text" pInputText name="newPass" [(ngModel)]="newStudent.newPass" class="newPass" disabled>
      </span>
      <br>
      <div class="ui-inputgroup">
        <p-calendar id="float-input-date" class="student-date-of-birth" placeholder="Дата народження *" [class.wrongData]="dateOfBirth.invalid && dateOfBirth.touched" #dateOfBirth="ngModel" name="dateOfBirth" [(ngModel)]="newStudent.dateOfBirth" required
        dateFormat="yy-mm-dd" [yearNavigator]="true" [monthNavigator]="true" yearRange="1940:2017" [readonlyInput]="true" [locale]="ua" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
        <span class="ui-inputgroup-addon" [class.wrongData1]="dateOfBirth.invalid && dateOfBirth.touched" [class.correctData1]="dateOfBirth.valid && dateOfBirth.touched"><i class="fas fa-calendar-alt"></i></span>
      </div>
      <span [class.hiddenBox]="dateOfBirth.valid || dateOfBirth.untouched" class="messageOfMistake">Некоректна дата народження</span>
      <br>
    </p-fieldset>
    <p-fieldset legend="Додаткова інформація" [toggleable]="true" [collapsed]="true" class="secondaryInfo">
      <div class="ui-inputgroup">
        <input id="float-input-login" type="text" placeholder="Логін" pInputText [class.wrongData]="login.invalid && login.touched" #login="ngModel" name="login" [(ngModel)]="newStudent.login" minlength="5" maxlength="20" />
        <span class="ui-inputgroup-addon" [class.wrongData1]="login.invalid && login.touched" [class.correctData1]="login.valid && login.touched"><i class="fas fa-key"></i></span>
      </div>
      <span [class.hiddenBox]="login.valid || login.untouched" class="messageOfMistake">Некоректний логін (не менше 5 символів)</span>
      <br>
      <div class="ui-inputgroup">
        <p-inputMask id="float-input-phone" class="phone-number" mask="(999)-999-9999" placeholder="Номер телефону" name="phone" [(ngModel)]="newStudent.phone"></p-inputMask>
        <span class="ui-inputgroup-addon"><i class="fas fa-phone"></i></span>
      </div>
      <br>
      <div class="ui-inputgroup">
        <input id="float-input-email" type="email" placeholder="Електронна адреса" pInputText #email="ngModel" name="email" [(ngModel)]="newStudent.email" pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$" />
        <span class="ui-inputgroup-addon" [class.wrongData1]="email.invalid && email.touched" [class.correctData1]="email.valid && email.touched"><i class="fas fa-envelope"></i></span>
      </div>
      <span [class.hiddenBox]="email.valid || email.untouched" class="messageOfMistake">Некоректна електронна адреса</span>
      <br>
      <div class="ui-inputgroup">
        <input id="float-input-avatar" name="avatar" pInputText [(ngModel)]="newStudent.avatar"  type="file" #Image accept="image/*" (change)="handlerFileInput($event.target.files)" />
        <span class="ui-inputgroup-addon"><i class="fas fa-upload"></i></span>
      </div>
      <img [src]="imageUrl" alt="Photo" class="avatar-url">
    </p-fieldset>
    <br>
  </form>
<p-footer>
  <button type="button" pButton icon="pi pi-check" (click)="saveStudent(); studentsForm.reset();" class="ui-button-raised" label="Зберегти" [disabled]="studentsForm.invalid"></button>
</p-footer>
</p-dialog>
