
.hiddenBox
{
  display: none;
}
.messageOfMistake
{
  color: #ff0000;
  font-size: 11px;
  float: right;
}
.wrongData
{
  border-color: #ff0000;
}
.dateLabel
{
  font-size: 12px;
  color: #808080;
}
.studentsForm ::ng-deep input
{
  width: 100%;
}
.selectClass
{
  padding: 7px 0;
  border-radius: 3px;
  font-size: 14px;
}
.classButton
{
  margin: 0 5px 5px 0;
}
.classID
{
  width: 20% !important;
  float: right;
  display: none;
}
.mainInfo
{
  float: left;
  width: calc(50% - 7px);
  margin-right: 14px;
}
.secondaryInfo
{
  float: right;
  width: calc(50% - 7px);
}
.editButton{
 text-align: center;
}
.studentRow
{
  .edit-student-btn
  {
    visibility: hidden;
    float: right;
  }
  &:hover .edit-student-btn
  {
    visibility: visible;
  }
}
.info-col
{
  width: 4em;
}
.ui-card
{
  overflow: hidden;
}
.student-full-info
{
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  padding: 5px;
}
