<p-fieldset legend="Активні класи" [toggleable]="true" [collapsed]="false">
  <span *ngFor="let  class_ of classes">
    <button *ngIf="class_.isActive" type="button" pButton icon="pi pi-folder" label="&nbsp;&nbsp;{{class_.className}}" title="{{class_.id}}" (click)="loadStudents(class_.id); selectedClassNameHandler(class_.className + ' класу')" class="ui-button-raised classButton"></button>
  </span>
</p-fieldset>
<br>
<p-fieldset legend="Класи минулих років" [toggleable]="true" [collapsed]="true">
  <span *ngFor="let  class_ of classes">
    <button *ngIf="!class_.isActive" type="button" pButton icon="pi pi-folder" label="&nbsp;&nbsp;{{class_.className}}&nbsp;&nbsp;({{class_.classYear}})" title="{{class_.id}}" (click)="loadStudents(class_.id); selectedClassNameHandler(class_.className + ' класу' + ' (' + class_.classYear + ' року)')" class="ui-button-raised classButton"></button>
  </span>
</p-fieldset>
<br>
<p-table [value]="students" [loading]="loading">
  <ng-template pTemplate="caption">
    Учні {{selectedClassName}}
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr class="studentRow">
      <td *ngFor="let col of cols">
        {{student[col.field]}}
        <button type="button" pButton icon="pi pi-pencil" *ngIf="col.field == 'login'" (click)="editStudent(student)" class="ui-button-raised edit-student-btn"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div style="text-align:left">
    <button type="button" (click)="createStudent()" pButton icon="pi pi-plus" class="ui-button-raised" label="Додати учня"></button>
      </div>
  </ng-template>
</p-table>

<p-dialog header="Інформація Про Учня" [(visible)]="displayForm" [modal]="true" [responsive]="true" [width]="840" [minWidth]="200" [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <form class="studentsForm" #studentsForm="ngForm">
    <p-fieldset legend="Обов'язкові поля" class="mainInfo">
      <span class="ui-float-label">
        <input id="float-input-firstname" type="text" pInputText [class.wrongData]="firstname.invalid && firstname.touched" #firstname="ngModel" name="firstname" [(ngModel)]="newStudent.firstname" minlength="3" maxlength="20" required>
        <label for="float-input-firstname">Ім'я</label>
      </span>
      <span [class.hiddenBox]="firstname.valid || firstname.untouched" class="messageOfMistake">Некоректне ім'я</span>
      <br>
      <span class="ui-float-label">
        <input id="float-input-lastname" type="text" pInputText [class.wrongData]="lastname.invalid && lastname.touched" #lastname="ngModel" name="lastname" [(ngModel)]="newStudent.lastname" minlength="3" maxlength="20" required>
        <label for="float-input-lastname">Прізвище</label>
      </span>
      <span [class.hiddenBox]="lastname.valid || lastname.untouched" class="messageOfMistake">Некоректне прізвище</span>
      <br>
      <span class="ui-float-label">
        <input id="float-input-patronymic" type="text" pInputText [class.wrongData]="patronymic.invalid && patronymic.touched" #patronymic="ngModel" name="patronymic" [(ngModel)]="newStudent.patronymic" minlength="6" maxlength="20" required>
        <label for="float-input-patronymic">По батькові</label>
      </span>
      <span [class.hiddenBox]="patronymic.valid || patronymic.untouched" class="messageOfMistake">Некоректне по-батькові</span>
      <br>
      <span class="ui-float-label">
        <input id="float-input-class" type="text" pInputText name="classId" [(ngModel)]="newStudent.classId" class="classID" disabled>
      </span>
      <br>
      <span class="ui-float-label">
        <input id="float-input-login" type="text" pInputText [class.wrongData]="login.invalid && login.touched" #login="ngModel" name="login" [(ngModel)]="newStudent.login" minlength="5" maxlength="20" required>
        <label for="float-input-login">Логін</label>
      </span>
      <span [class.hiddenBox]="login.valid || login.untouched" class="messageOfMistake">Введіть коректний логін (не менше 5 символів)</span>
      <span class="dateLabel">Дата народження</span>
      <span class="ui-float-label">
        <input id="float-input-date" type="date" pInputText [class.wrongData]="dateOfBirth.invalid && dateOfBirth.touched" #dateOfBirth="ngModel" name="dateOfBirth" [(ngModel)]="newStudent.dateOfBirth" required>
      </span>
      <span [class.hiddenBox]="dateOfBirth.valid || dateOfBirth.untouched" class="messageOfMistake">Некоректна дата народження</span>
      <br>
    </p-fieldset>
    <p-fieldset legend="Додаткова інформація" [toggleable]="true" [collapsed]="true" class="secondaryInfo">
      <br>
      <span class="ui-float-label">
        <input id="float-input-phone" type="tel" pInputText name="phone" [(ngModel)]="newStudent.phone">
        <label for="float-input-phone">Номер телефону</label>
      </span>
      <br>
      <span class="ui-float-label">
        <input id="float-input-email" type="email" pInputText name="email" [(ngModel)]="newStudent.email">
        <label for="float-input-email">Email</label>
      </span>
      <br>
      <input id="float-input-avatar" name="avatar" pInputText [(ngModel)]="newStudent.avatar"  type="file" #Image accept="image/*" (change)="handlerFileInput($event.target.files)"/>
      <img [src]="imageUrl"  alt="Photo" style="width:120px; height:120px">
    </p-fieldset>
    <br>
  </form>
<p-footer>
  <button type="button" pButton icon="pi pi-check" (click)="saveStudent(); studentsForm.reset();" class="ui-button-raised" label="Зберегти" [disabled]="studentsForm.invalid"></button>
</p-footer>
</p-dialog>


