
  <div class="subjects" *ngFor="let subj of daySubjectsList; let i = index">
    <span>{{ i + 1 }}</span>
    <p-dropdown
      [options]="subjects"
      [(ngModel)]="daySubjectsList[i].subjectId"
      [optionLabel]="label"
      (onChange)="addSubject($event, daySubjectsList, i)"
      placeholder="Виберіть предмет"
      [ngModelOptions]="{ standalone: true }"
      [style]="{ width: '190px' }"
    >
    </p-dropdown>
    <button
      pButton
      type="button"
      (click)="delSubject($event, daySubjectsList, i)"
    >
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
