<p-dropdown [options]="subjects" (onChange) = "addSubject($event, 0)" [style]="{'width':'200px'}"  placeholder="Виберіть предмет"></p-dropdown>
<p-dropdown [options]="subjects" (onChange) = "addSubject($event, 1)" [style]="{'width':'200px'}"  placeholder="Виберіть предмет"></p-dropdown>
<p-dropdown [options]="subjects" (onChange) = "addSubject($event, 2)" [style]="{'width':'200px'}"  placeholder="Виберіть предмет"></p-dropdown>
<p-dropdown [options]="subjects" (onChange) = "addSubject($event, 3)" [style]="{'width':'200px'}"  placeholder="Виберіть предмет"></p-dropdown>
<p-dropdown [options]="subjects" (onChange) = "addSubject($event, 4)" [style]="{'width':'200px'}"  placeholder="Виберіть предмет"></p-dropdown>
<p-dropdown [options]="subjects" (onChange) = "addSubject($event, 5)" [style]="{'width':'200px'}"  placeholder="Виберіть предмет"></p-dropdown>
