<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="p-grid p-align-center">
  <div class="p-col">
    <h1>{{title}}</h1>
    <h3>Вчитель</h3>
    <form (ngSubmit)="postAttachTeacher()" #AttachTeacherForm="ngForm">
      <p-autoComplete name="teacher" [(ngModel)]="teacher" [suggestions]="filteredTeachers" (completeMethod)="filterTeachers($event)"
        [size]="30" [minLength]="1" placeholder="Виберіть вчителя" field="fullname" [dropdown]="true" required>
        <ng-template let-teacher pTemplate="item">
          <div class="ui-helper-clearfix">
            <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{teacher?.lastname}} {{teacher?.firstname}}</div>
          </div>
        </ng-template>
      </p-autoComplete>

      <h3>Предмет</h3>
      <p-autoComplete name="subject" [(ngModel)]="subject" [suggestions]="filteredSubjects" (completeMethod)="filterSubjects($event)"
        [size]="30" [minLength]="1" placeholder="Виберіть предмет" field="subjectName" [dropdown]="true" required>
        <ng-template let-subject pTemplate="item">
          <div class="ui-helper-clearfix">
            <div style="font-size:18px;margin:10px 10px 0 0">{{subject?.subjectName}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
      <h3>Клас</h3>
      <p-autoComplete name="_class" [(ngModel)]="_class" [suggestions]="filteredClasses" (completeMethod)="filterClasses($event)"
        [size]="30" [minLength]="1" placeholder="Виберіть клас" field="className" [dropdown]="true" required>
        <ng-template let-_class pTemplate="item">
          <div class="ui-helper-clearfix">
            <div style="font-size:18px;margin:10px 10px 0 0">{{_class?.className}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
      <div style="margin-top:20px"><button pButton [disabled]="!AttachTeacherForm.valid" type="submit" label="Зберегти"
          icon="fa fa-check" iconPos="left" class="ui-button-success"></button>
      </div>
    </form>
  </div>
</div>
