<br>
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <p-dropdown [options]="displayJpournals" [(ngModel)]="selectedClassName" optionLabel="className" placeholder="Оберіть клас:"></p-dropdown>
    <p-dropdown [options]="journals" [(ngModel)]="selectedSubjectName" optionLabel="subjectName" placeholder="Оберіть предмет:"></p-dropdown>
    <span *ngIf="selectedClassName">{{selectedClassName ? selectedClassName.academicYear : 'none'}}</span>
    <p-button label="Завантажити журнал" (click)="setSelectedJournal()"></p-button>
  </div>
</p-toolbar>
<p *ngIf="selectedClassName">Selected Journal: {{selectedClassName ? selectedClassName.className : 'none'}}</p>
<p *ngIf="selectedSubjectName">Selected Subject: {{selectedSubjectName ? selectedSubjectName.subjectName : 'none'}}</p>


<!--<ul class="journal">-->
  <!--<li *ngFor="let journal of classes">-->
      <!--<div>{{journal.academicYear}}</div>-->
      <!--<div>{{journal.className}}</div>-->
      <!--<div>{{journal.idClass}}</div>-->
      <!--<div>{{journal.idSubject}}</div>-->
      <!--<div>{{journal.subjectName}}</div>-->
  <!--</li>-->
<!--</ul>-->
