p-dropdown {
  margin-left: 20px;
}

.ui-table-scrollable-header {
  overflow-y: scroll;
  }

.cellContainer {
  height: 18px;
  align-content: center;
}
.mark {
  align-content: center;
  text-align: center;
}
.editCell {
  padding: 2px;
  height: 10px;
  background-color: aqua;
  text-align: center;
}
.ui-inputtext {
  padding: 0;
}