<ng-container *ngIf="isDataRecived">
    <p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="journalData" [scrollable]="true"
        [(contextMenuSelection)]="selectedMark" [contextMenu]="contextMenu"
        scrollHeight="400px" frozenWidth="20em">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    <div *ngIf="+col.field!==NaN">{{col.header.split('/')[0]}}</div>
                    <div *ngIf="+col.field!==NaN">{{col.header.split('/')[1]}}</div>
                    <div *ngIf="+col.field!==NaN">{{col.header.split('/')[2]}}</div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns"
                    [pContextMenuRow]="rowData"
                   
                    [style.background-color]="isSelected(rowData,col.field) ? '#bcdfff' : '#fff'" 
                    (click)="singleClick(rowData,col.field)" 
                    (dblclick)="doubleClick(rowData,col.field)"  [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'rating'">{{rowData.rating[0] | number:'1.1-2'}}/{{rowData.rating[1] | number:'1.1-2'}}</ng-container>
                        <ng-container *ngSwitchCase="'studentFullName'">{{rowData.studentFullName}}</ng-container>
                        <ng-container *ngSwitchDefault>
                            <div *ngIf="!isEditMode(rowData, col.field)" class="mark">
                                {{markStudent(rowData, col.field)}} &nbsp;
                            </div>
                            <div *ngIf="isEditMode(rowData, col.field)" >
                                <p-inputMask class="editCell" 
                                    mask="?9*" autoFocus="true"
                                    slotChar=""
                                    autoClear="false"
                                    characterPattern="[0-9][0-2]"
                                    unmask="true"
                                    maxlenght="2" size="2" pInputText 
                                    [(ngModel)]="rowData.marks[col.field].mark" 
                                    (onBlur)="markEditExit(rowData, col.field)" 
                                    #box (keyup.enter)="markEditExit(rowData, col.field)" 
                                    #box (keyup)="onKeydown($event)"> 
                                </p-inputMask>

                            </div>
                        </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>
<p-contextMenu #contextMenu [model]="contextMenuItems"></p-contextMenu>
<p-dialog
  header="Доповнення до оцінки"
  [(visible)]="isDisplayDialogVisable"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [width]="700"
  [height]="600"
  [minWidth]="200"
  #overlay>
  <textarea pInputTextarea [(ngModel)]="property"></textarea>
</p-dialog>