<div class="weekSchedule" *ngIf="!loading">
  <div class="p-col-12 p-grid p-align-center schedule-navigation">
    <div class="p-col-12 p-md-3 p-lg-3 p-grid p-align-center left">
      <p-selectButton
        *ngIf="startAndEndOfWeek"
        [options]="scheduleOptions"
        [(ngModel)]="selectedType"
        (click)="changeDataView()"
      ></p-selectButton>
    </div>
    <div class="p-col-12 p-md-7 p-lg-6 p-grid p-align-center central">
      <div class="p-md-2">
        <button
          pButton
          type="button"
          (click)="switchSchedule(false)"
          icon="fa fa-arrow-left"
          class="ui-button-rounded ui-button-secondary"
        ></button>
      </div>
      <div class="p-col-12 p-md-8">
        <label> {{ startAndEndOfWeek || ukrCurrDate }} </label>
      </div>
      <div class="p-md-2">
        <button
          pButton
          type="button"
          (click)="switchSchedule(true)"
          icon="fa fa-arrow-right"
          class="ui-button-rounded ui-button-secondary"
        ></button>
      </div>
    </div>
    <div
      *ngIf="startAndEndOfWeek"
      class="p-col-3 p-md-2 p-lg-3 p-grid p-align-center p-justify-end right"
    >
      <p-selectButton
        [options]="viewOptions"
        [(ngModel)]="viewType"
        [disabled]="selectedType === 'day' ? true : false"
        (click)="changeScheduleView()"
      >
      </p-selectButton>
      <button
        pButton
        type="button"
        icon="fa fa-print"
        [disabled]="viewType === 'list'"
        (click)="printSchedule()"
      ></button>
    </div>
  </div>
  <div
    class="p-col-12 p-grid tables"
    (swipeleft)="switchSchedule(true)"
    (swiperight)="switchSchedule(false)"
  >
    <div
      *ngFor="let daysOfWeek of weekSchedule"
      [ngClass]="{ 'p-md-12': view, 'p-md-6': !view, ordering: !view }"
      class="p-col-12"
    >
      <p-table
        [columns]="cols"
        [value]="daysOfWeek.daySchedule"
        [autoLayout]="true"
      >
        <ng-template pTemplate="caption">
          {{ daysOfWeek.dayOfWeek }}
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              [pSortableColumn]="col.field"
              [class]="col.class"
            >
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr class="students-table-row">
            <td
              *ngFor="let col of columns"
              [ngClass]="{
                'student-ellipsis-table-cell':
                  col.field === 'homeWork' && rowData[col.field].length > 32,
                'note-ellipsis-table-cell':
                  col.field === 'note' && rowData[col.field].length > 49
              }"
              [attr.data-homeWork]="
                col.field === 'homeWork' && rowData[col.field].length > 32
                  ? rowData[col.field]
                  : null
              "
              [attr.data-note]="
                col.field === 'note' && rowData[col.field].length > 49
                  ? rowData[col.field]
                  : null
              "
            >
              {{ rowData[col.field] ? rowData[col.field] : '' }}
              <a
                class="download fas fa-download"
                [href]="sanitizer.bypassSecurityTrustUrl(rowData['blobUrl'])"
                [download]="rowData['fileName']"
                *ngIf="col.field === 'homeWork' && rowData['homeworkFileId']"
              ></a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
