.weekSchedule {
  margin-top: 70px;
}
.central {
  text-align: center;
  position: relative;
  .prev {
    position: absolute;
    top: -8%;
    left: 82px;
  }
  .next {
    position: absolute;
    top: -8%;
    right: 82px;
  }
}

.right {
  padding-left: 13%;
}

.students-table-row{
  height: 48px;
}
.student-ellipsis-table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.student-ellipsis-table-cell:focus,
.student-ellipsis-table-cell:hover {
  color: transparent;
  &:after {
    content: attr(data-homework);
    overflow: visible;
    text-overflow: inherit;
    background: #fff;
    position: absolute;
    left: auto;
    top: auto;
    width: auto;
    max-width: 20rem;
    border: 1px solid #eaebec;
    padding: 0 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    white-space: normal;
    word-wrap: break-word;
    display: block;
    color: black;
    margin-top: -1.25rem;
  }
}

.not-found{
  margin-top:10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;

}
