.title {
  margin-top: 90px;
  text-align: center;
  background-color: lightblue;
  height: 40px;
  border: 1px solid rgb(119, 188, 245);
}
.stat {
  margin-top: 5px;
}

// what do this styles do?
::ng-deep .ui-calendar {
  vertical-align: -1px;
  margin-right: 30px;
}

p-radioButton {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

// average marks
.averageMark {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

// styles for data container
.data {
  display: block;
  width: 20%;
  margin-top: 1%;
  margin-left: 1.5%;
}

// styles for chart container
.chart {
  display: block;
  width: 75%;
  margin-top: 1%;
  margin-left: 1.5%;
}

:host ::ng-deep .ui-calendar {
  display: block;
  margin-top: 4%;
}

// button show data
.showData {
  display: block;
}

// container for radio-buttons
.radio {
  margin-top: 5%;
}

// list of subjects, students, classes
.subject,
.student,
.group {
  display: block;
  margin-top: 4%;
  margin-bottom: 3%;
}

// data card
:host ::ng-deep .data .ui-card {
  height: 460px;
}
