<ng-container *ngIf="selectedLessons">
  <h3>
    <span>Домашнє завдання для обраних уроків</span>
  </h3>
</ng-container>
<ng-container *ngIf="activeJournal">
  <h3>
    <span>Домашнє завдання для </span>
    <span *ngIf="activeJournal">
      {{activeJournal ? activeJournal.className + ' класу з предмету "' + activeJournal.subjectName + '"' : 'Відсутні дані'}}
    </span>
  </h3>
  <p-dataView #dv
              [value]="hometasksToDisplay"
              [paginator]="true"
              [rows]="10"
              paginatorPosition="top"
              filterBy="homework"
              [sortField]="sortField"
              emptyMessage="Домашні завдання відсутні"
              [sortOrder]="sortOrder">
    <p-header>
      <div class="ui-helper-clearfix">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4 order-selector">
            <p-dropdown [options]="sortOptions"
                        [(ngModel)]="sortKey"
                        placeholder="Сортування:"
                        (onChange)="onSortChange($event)"
                        [autoWidth]="false">
            </p-dropdown>
          </div>
          <div class="ui-g-6 ui-md-4 filter-container">
            <div>
              <input class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                     type="search"
                     pInputText
                     placeholder="Шукати по опису"
                     (keyup)="dv.filter($event.target.value)">
            </div>
          </div>
          <div class="ui-g-6 ui-md-4 past-task-enabler">
            <p-checkbox [(ngModel)]="showPastTasks"
                        (onChange)="onPastTasksChange()"
                        binary="true"></p-checkbox>
            <span>Відображати минулі домашні завдання</span>
          </div>
        </div>
      </div>
    </p-header>
    <ng-template let-hometask pTemplate="listItem">
      <div class="ui-g hometask-row">
        <div class="ui-g-12 ui-md-3">
          {{hometask.date}}
        </div>
        <div class="ui-g-12 ui-md-6">
          {{hometask.homework}}
        </div>
        <div class="ui-g-12 ui-md-3">
          <p-button *ngIf="hometask.fileName" icon="pi pi-file"
                    (click)="openHomeTask(hometask.idLesson)">
          </p-button>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</ng-container>
