.file {
  text-align: center;
}
.hometask-row {
  border-bottom: 1px solid #d9d9d9;
  > div {
    text-align:center;
  }
}
.text-center {
  text-align: center;
}
.single-hometask-container {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  > div {
    border: 1px solid #c8c8c8;
    padding: 20px;
    flex-basis: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.past-task-enabler {
  display: flex;
  align-items: center;
  p-checkbox {
    margin-right: 15px;
  }
}
.hometask-description-input {
  min-width: 200px;
}
::ng-deep .order-selector {
  p-dropdown {
    >div {
      min-width: 15em;
    }
  }
}
::ng-deep .ui-dataview-emptymessage {
  text-align: center;
}
