<div class="picture">
  <header>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-card>
      <div class="container" (keyup.enter)="savePassword()">
        <h2> Введіть новий пароль</h2>

        <span class="ui-float-label">
          <input pInputText [(ngModel)]="password" autofocus type="password" placeholder="Введіть новий пароль" size="30"
            [class.is-invalid]="passwordRef.invalid && passwordRef.touched" #passwordRef="ngModel" minlength="1"
            maxlength="255" name="password" required>
        </span>
        <span [class.hiddenBox]="passwordRef.valid || passwordRef.untouched" class="requiredMessage">Введіть пароль</span>

        <span class="ui-float-label">
          <input pInputText [(ngModel)]="confirmPassword" [class.is-invalid]="confirmPasswordRef.invalid && confirmPasswordRef.touched"
            minlength="1" maxlength="255" #confirmPasswordRef="ngModel" type="password" name="confirmPassword"
            placeholder="Повторіть пароль" size="30" required>
        </span>
        <span [class.hiddenBox]="confirmPassword == password || confirmPasswordRef.untouched" class="requiredConfirmMessage">Паролі
          повинні співпадати</span>
        <button pButton type="button" label="Зберегти пароль" (click)="savePassword()" [disabled]="(!passwordRef.touched) || (passwordRef.invalid && passwordRef.touched) || (password !== confirmPassword)"
          class="ui-button-rounded"></button>

      </div>
    </p-card>
  </header>
</div>