.picture {
  background: url('./../../../assets/school-min.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-position-x: 32%;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding: 0;
}
::ng-deep .ui-card {
  background-color: white !important;
  opacity: 0.9;
}
header {
  width: 300px;
  margin: 60px auto;
}

.ui-button-rounded {
  display: block;
  width: 200px;
  background-color: rgb(53, 53, 141);
  margin: 30px auto;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

#float-input {
  display: block;
  width: 100%;
}

.ui-float-label {
  margin-bottom: 20px;
}

.container {
  padding: 10px;
  position: relative;
}

.requiredMessage {
  position: absolute;
  color: red;
  font-size: 11px;
  top: 48%;
}

.requiredConfirmMessage {
  position: absolute;
  color: red;
  font-size: 11px;
  top: 68%;
}

.hiddenBox {
  display: none;
}

@media screen and (max-width: 500px) {
  .picture {
    background-position-x: 45%;
  }
}
