<form class="form" #form="ngForm">
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title">Розклад уроків</span>
    </div>
  </p-header>

  <div class="form-control classes">
    <p-dropdown
      name="class"
      [options]="classes"
      [(ngModel)]="group"
      (onChange)="getSchedule($event)"
      placeholder="Виберіть клас"
      #class="ngModel"
      required
    >
    </p-dropdown>
    <div [hidden]="class.valid || class.untouched" class="alert alert-danger">
      Виберіть клас
    </div>
  </div>

  <div class="form-group calendar-group-left">
    <p-calendar
      class="form-control"
      [(ngModel)]="startOfSemester"
      [defaultDate]="defaultDate"
      [minDate]="minDateValue"
      [maxDate]="maxDateValue"
      [placeholder]="'Дата початку семестру'"
      [locale]="ua"
      dateFormat="dd.mm.yy"
      [showIcon]="true"
      name="fromDate"
      #fromDate="ngModel"
      required
    ></p-calendar>
    <div
      [hidden]="fromDate.valid || fromDate.untouched"
      class="alert alert-danger"
    >
      Введіть дату
    </div>
  </div>

  <div class="form-group calendar-group-right">
    <p-calendar
      class="form-control"
      [(ngModel)]="endOfSemester"
      [minDate]="minDateValue"
      [maxDate]="maxDateValue"
      [placeholder]="'Дата закінчення семестру'"
      [locale]="ua"
      dateFormat="dd.mm.yy"
      [showIcon]="true"
      name="toDate"
      #toDate="ngModel"
      required
    ></p-calendar>
    <div [hidden]="toDate.valid || toDate.untouched" class="alert alert-danger">
      Введіть дату
    </div>
  </div>

  <div class="left-panel">
    <p-fieldset class="day" legend="Понеділок">
      <p
        class="subjects"
        *ngFor="let subj of classSchedule.mondaySubjects; let i = index"
      >
        <span>{{ i + 1 }}</span>
        <p-dropdown
          name="subject"
          [options]="subjects"
          [(ngModel)]="classSchedule.mondaySubjects[i]"
          [optionLabel]="'subjectName'"
          (onChange)="addSubject($event, classSchedule.mondaySubjects, i)"
          placeholder="Виберіть предмет"
          [ngModelOptions]="{ standalone: true }"
          [style]="{ width: '190px' }"
        >
        </p-dropdown>
        <button
          pButton
          type="button"
          (click)="delSubject($event, classSchedule.mondaySubjects, i)"
        >
          <i class="far fa-trash-alt"></i>
        </button>
      </p>
    </p-fieldset>
    <p-fieldset legend="Вівторок">
      <p
        class="subjects"
        *ngFor="let subj of classSchedule.tuesdaySubjects; let i = index"
      >
        <span>{{ i + 1 }}</span>
        <p-dropdown
          [options]="subjects"
          [(ngModel)]="classSchedule.tuesdaySubjects[i]"
          [optionLabel]="'subjectName'"
          (onChange)="addSubject($event, classSchedule.tuesdaySubjects, i)"
          placeholder="Виберіть предмет"
          [ngModelOptions]="{ standalone: true }"
          [style]="{ width: '190px' }"
        >
        </p-dropdown>
        <button
          pButton
          type="button"
          (click)="delSubject($event, classSchedule.tuesdaySubjects, i)"
        >
          <i class="far fa-trash-alt"></i>
        </button>
      </p>
    </p-fieldset>
    <p-fieldset legend="Середа">
      <p
        class="subjects"
        *ngFor="let subj of classSchedule.wednesdaySubjects; let i = index"
      >
        <span>{{ i + 1 }}</span>
        <p-dropdown
          [options]="subjects"
          [(ngModel)]="classSchedule.wednesdaySubjects[i]"
          [optionLabel]="'subjectName'"
          (onChange)="addSubject($event, classSchedule.wednesdaySubjects, i)"
          placeholder="Виберіть предмет"
          [ngModelOptions]="{ standalone: true }"
          [style]="{ width: '190px' }"
        >
        </p-dropdown>
        <button
          pButton
          type="button"
          (click)="delSubject($event, classSchedule.wednesdaySubjects, i)"
        >
          <i class="far fa-trash-alt"></i>
        </button>
      </p>
    </p-fieldset>
  </div>

  <div class="right-panel">
    <p-fieldset legend="Четвер">
      <p
        class="subjects"
        *ngFor="let subj of classSchedule.thursdaySubjects; let i = index"
      >
        <span>{{ i + 1 }}</span>
        <p-dropdown
          [options]="subjects"
          [(ngModel)]="classSchedule.thursdaySubjects[i]"
          [optionLabel]="'subjectName'"
          (onChange)="addSubject($event, classSchedule.thursdaySubjects, i)"
          placeholder="Виберіть предмет"
          [ngModelOptions]="{ standalone: true }"
          [style]="{ width: '190px' }"
        >
        </p-dropdown>
        <button
          pButton
          type="button"
          (click)="delSubject($event, classSchedule.thursdaySubjects, i)"
        >
          <i class="far fa-trash-alt"></i>
        </button>
      </p>
    </p-fieldset>
    <p-fieldset legend="П'ятниця">
      <p
        class="subjects"
        *ngFor="let subj of classSchedule.fridaySubjects; let i = index"
      >
        <span>{{ i + 1 }}</span>
        <p-dropdown
          [options]="subjects"
          [(ngModel)]="classSchedule.fridaySubjects[i]"
          [optionLabel]="'subjectName'"
          (onChange)="addSubject($event, classSchedule.fridaySubjects, i)"
          placeholder="Виберіть предмет"
          [ngModelOptions]="{ standalone: true }"
          [style]="{ width: '190px' }"
        >
        </p-dropdown>
        <button
          pButton
          type="button"
          (click)="delSubject($event, classSchedule.fridaySubjects, i)"
        >
          <i class="far fa-trash-alt"></i>
        </button>
      </p>
    </p-fieldset>
    <p-fieldset legend="Субота" [toggleable]="true" [collapsed]="true">
      <p
        class="subjects"
        *ngFor="let subj of classSchedule.saturdaySubjects; let i = index"
      >
        <span>{{ i + 1 }}</span>
        <p-dropdown
          [options]="subjects"
          [(ngModel)]="classSchedule.saturdaySubjects[i]"
          [optionLabel]="'subjectName'"
          (onChange)="addSubject($event, classSchedule.saturdaySubjects, i)"
          placeholder="Виберіть предмет"
          [ngModelOptions]="{ standalone: true }"
          [style]="{ width: '190px' }"
        >
        </p-dropdown>
        <button
          pButton
          type="button"
          (click)="delSubject($event, classSchedule.saturdaySubjects, i)"
        >
          <i class="far fa-trash-alt"></i>
        </button>
      </p>
    </p-fieldset>
  </div>

  <p-footer>
    <button
      pButton
      class="submit-button"
      type="submit"
      pButton
      icon="pi pi-check"
      (click)="submitForm(form)"
      label="Зберегти"
      [disabled]="class.invalid || fromDate.invalid || toDate.invalid"
    ></button>
  </p-footer>
</form>
