.classes {
  // select class
  float: left;
  margin-top: 3%;
  margin-left: 20%;
  width: 150px;
}

.calendar-group-left {
  // calendar 'from date'
  float: left;
  margin-top: 3%;
  margin-left: 5%;
}

.calendar-group-right {
  // calendar 'to date'
  float: left;
  margin-top: 3%;
  margin-left: 7%;
}

.subjects {
  margin-left: 30%;
  margin-bottom: 1%;
  margin-top: 1%;
  //border: 1px solid grey;
}

.subjects span {
  font-size: 15px;
  color: #007ad9;
  font-family: Arial;
}

.subjects p-dropdown {
  margin-left: 2%;
}

.ui-helper-clearfix {
  // header of form
  width: 100%;
  height: 39px;
  background-color: #f4f4f4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #c8c8c8;
}

.ui-panel-title {
  // heading of form
  color: black;
  font-weight: bold;
  margin-left: 45%;
  margin-top: 9px;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.left-panel {
  float: left;
  width: 45%;
  margin-left: 3%;
  margin-top: 2%;
  clear: both;
}

.right-panel {
  float: right;
  width: 45%;
  margin-right: 3%;
  margin-top: 2%;
}

p-fieldset {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

:host ::ng-deep .ui-fieldset-legend {
  //heading of week days
  text-align: center;
}

p-footer button {
  width: 140px;
  height: 38px;
  margin-top: 3%;
  clear: both;
  float: left;
  margin-left: 3%;
  margin-bottom: 5%;
}

:host ::ng-deep p-footer button .ui-button-icon-left {
  margin-left: 17px;
}

.classes div {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  padding-top: 2px;
  padding-left: 7px;
  color: red;
}

.calendar-group-left div {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  padding-top: 2px;
  padding-left: 7px;
  color: red;
}

.calendar-group-right div {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  padding-top: 2px;
  padding-left: 7px;
  color: red;
}

.subjects button {
  // delete subject button
  width: 34px;
  height: 34px;
  margin-left: 2%;
  border: none;
  .far {
    color: white;
    z-index: 1;
    margin-top: 28%;
    margin-right: 4%;
    width: 20px;
    height: 20px;
  }
  visibility: hidden;
}

.subjects:hover button {
  // delete subject button

  visibility: visible;
}

.subjects:last-child button {
  display: none;
  .far {
    display: none;
  }
}

/*:host ::ng-deep .subjects:last-child .ui-dropdown {
	border: 2px solid #007ad9;
}*/

:host ::ng-deep .subjects:last-child .ui-dropdown-label {
	color: #007ad9;
}

/*:host ::ng-deep .subjects .ui-dropdown {
	width: ;
}*/

/*:host ::ng-deep .ui-calendar-w-btn {
	width: ;
}*/
