<body>
  <p-card>
    <div class="container">
      <h1> Вхід до системи</h1>
  
      <h3>Ім'я користувача</h3>
      <span class="ui-float-label">
        <input pInputText [(ngModel)]="userName" type="text" size="30" >
        <label for="float-input">Введіть ім'я користувача</label>
      </span>
               
      <h3>Пароль</h3>
      <span class="ui-float-label">
        <input pInputText [(ngModel)]="password" type="password" size="30" >
        <label  for="float-input">Пароль</label>
			</span>
			<span class="login-error">{{errorMessage}}</span>
      <button pButton type="button" label="Вхід" (click)="Login()" class="ui-button-rounded"></button>
      <a href="#">Забули пароль?</a>
    </div>
  </p-card>
</body>
