.ui-toolbar-group-left .home {
  font-size: 22px;
  vertical-align: middle;
	margin: 0px 10px -20px 8px;
}


.ui-toolbar-group-right .user {
  font-size: 20px;
  padding: 10px;
  color: #007ad9;
  position: relative;
  right: 400px; 
  z-index: 1;
}

:host ::ng-deep .ui-toolbar {
	position: fixed; 
	left: 0; 
	top: 0; 
	width: 100%;
	padding: 10px;
	z-index: 2;
} 

:host ::ng-deep .ui-toolbar .ui-button {
	margin-left: 10px;
	width: 60px;
}

:host ::ng-deep .ui-toolbar .ui-menuitem {
	width: 400px;
}

:host ::ng-deep .ui-toolbar .ui-menuitem-text {
	padding-left: 30px;
} 

:host ::ng-deep .ui-toolbar .ui-menuitem:nth-child(2) .ui-menuitem-text {
  font-weight: bold;
}














