.ui-toolbar-group-left .home {
  font-size: 22px;
  vertical-align: middle;
	margin: 0px 10px -20px 8px;
}


.ui-toolbar-group-right {
  font-size: 22px;

  .ui-button {
    width: fit-content;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #8f8f8f;
    border-color: #8f8f8f;
  }
}

:host ::ng-deep .ui-toolbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 10px;
	z-index: 2;
}

:host ::ng-deep .ui-toolbar .ui-button {
	margin-left: 10px;
	width: 60px;
}

:host ::ng-deep .ui-toolbar .ui-menuitem {
	width: 400px;
}

:host ::ng-deep .ui-toolbar .ui-menuitem-text {
	padding-left: 30px;
}

:host ::ng-deep .ui-toolbar .ui-menuitem:nth-child(2) .ui-menuitem-text {
  font-weight: bold;
}
:host ::ng-deep .ui-sidebar {
  .ui-button {
    width: fit-content;
    margin: 5px 5px 5px 0px;
  }
}
.sidebar-avatar {
  width: 240px;
  height: 240px;
}












