<p-table
  [columns]="columns"
  [value]="teachers"
  [(selection)]="selectedTeacher"
  [paginator]="false"
  [loading]="loading"
>
  <ng-template pTemplate="caption">Список учителів</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" class="teacher__cell">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
        <button
          class="teacher__edit"
          *ngIf="col.field == 'dateOfBirth'"
          pButton
          type="button"
          (click)="onRowSelect(rowData)"
          icon="pi pi-pencil"
          iconPos="left"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        (click)="showDialogToAdd()"
        label="Додати учителя"
      ></button>
    </div>
  </ng-template>
</p-table>
<p-dialog
  header="Інформація про учителя"
  [(visible)]="displayDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [width]="700"
  [height]="600"
  [minWidth]="200"
>
  <form #teacherForm="ngForm">
    <div class="p-grid" *ngIf="teacher">
      <p-fieldset legend="Обов'язкові поля" class="mainInfo p-col-6">
        <div class="p-col-12 requiredWrapper">
          <span class="ui-float-label">
            <input
              pInputText
              [class.is-invalid]="firstname.invalid && firstname.touched"
              #firstname="ngModel"
              id="float-input-firstname"
              [(ngModel)]="teacher.firstname"
              required
              minlength="3"
              maxlength="20"
              name="firstname"
              class="p-col-12"
            />
            <label for="float-input-firstname">Ім'я *</label>
          </span>
          <span
            [class.d-none]="firstname.valid || firstname.untouched"
            class="requiredMessage"
            >Некоректне ім'я</span
          >
        </div>
        <div class="p-col-12 requiredWrapper">
          <span class="ui-float-label">
            <input
              pInputText
              id="float-input-lastname"
              [class.is-invalid]="lastname.invalid && lastname.touched"
              #lastname="ngModel"
              [(ngModel)]="teacher.lastname"
              minlength="3"
              maxlength="20"
              required
              name="lastname"
              class="p-col-12"
            />
            <label for="float-input-lastname">Прізвище *</label>
          </span>
          <span
            [class.d-none]="lastname.valid || lastname.untouched"
            class="requiredMessage"
            >Некоректне прізвище</span
          >
        </div>
        <div class="p-col-12 requiredWrapper">
          <span class="ui-float-label">
            <input
              pInputText
              id="patronymic"
              [class.is-invalid]="patronymic.invalid && patronymic.touched"
              #patronymic="ngModel"
              [(ngModel)]="teacher.patronymic"
              minlength="7"
              maxlength="20"
              required
              name="patronymic"
              class="p-col-12"
            />
            <label for="float-input-patronymic">По батькові *</label>
          </span>
          <span
            [class.d-none]="patronymic.valid || patronymic.untouched"
            class="requiredMessage"
            >Некоректне по батькові</span
          >
        </div>
        <div class="p-col-12 requiredWrapper">
          <span class="ui-float-label">
            <p-calendar
              id="float-input-date"
              [(ngModel)]="teacher.dateOfBirth"
              name="dateOfBirth"
              #dateOfBirth="ngModel"
              [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched"
              [readonlyInput]="true"
              [locale]="ua"
              required
              dateFormat="yy-mm-dd"
              [yearNavigator]="true"
              [monthNavigator]="true"
              yearRange="1940:2017"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
            ></p-calendar>
            <label for="float-input-date">Дата народження *</label>
          </span>
          <span
            [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched"
            class="requiredMessage"
            >Некоректна дата народження</span
          >
        </div>
      </p-fieldset>
      <p-fieldset
        legend="Додаткова інформація"
        [toggleable]="true"
        [collapsed]="true"
        class="p-col-6"
      >
        <div class="p-col-12 filds">
          <span class="ui-float-label">
            <input
              pInputText
              id="float-input-login"
              [(ngModel)]="teacher.login"
              name="login"
              class="p-col-12"
            />
            <label for="float-input-login">Логін</label>
          </span>
        </div>
        <div class="p-col-12 filds">
          <span class="ui-float-label">
            <input
              pInputText
              id="float-input-email"
              [(ngModel)]="teacher.email"
              type="email"
              name="email"
              class="p-col-12"
            />
            <label for="float-input-email">Електронна адреса</label>
          </span>
        </div>
        <div class="p-col-12 filds">
          <span class="ui-float-label">
            <p-inputMask
              [(ngModel)]="teacher.phone"
              id="tel"
              mask="999-999-9999"
              name="phone"
              [style]="{ width: '100%' }"
            ></p-inputMask>
            <label for="float-input-phone">Номер телефону</label>
          </span>
        </div>
        <div class="p-col-12 photoWrapper filds">
          <input
            pInputText
            id="photo"
            type="file"
            #Image
            accept="image/*"
            (change)="handlerFileInput($event.target.files)"
            name="photo"
          />
          <span class="photoError">{{ photoData }}</span>
          <img [src]="imageUrl" alt="Photo" class="photoImg" />
        </div>
      </p-fieldset>
    </div>
  </form>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        *ngIf="newTeacher"
        type="button"
        pButton
        icon="pi pi-check"
        (click)="create()"
        label="Зберегти"
        [disabled]="teacherForm.invalid"
      ></button>
      <button
        *ngIf="!newTeacher"
        type="button"
        pButton
        icon="pi pi-check"
        (click)="save()"
        label="Зберегти"
        [disabled]="teacherForm.invalid"
      ></button>
    </div>
  </p-footer>
</p-dialog>
