::ng-deep .ui-state-highlight {
  background-color: #f9f9f9 !important;
  color: black !important;
}

.subjects-table-row {
  height: 48px;

  .subjects-table-cell {
    position: relative;
    line-height: 2.3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .subjects-custom-button {
    display: none;
  }

  &:hover .subjects-custom-button {
    float: right;
    display: block;
  }
}

.marginWrapper {
  margin-top: 15px;
}

$required: red;

.requiredMessage {
  max-width: 250px;
  color: $required;
  font-size: 11px;
}
.ui-inputgroup {
  display: flex;
  flex-direction: row-reverse;
}
.ui-inputgroup-addon {
  border-radius: 3px;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  margin-right: 5px;
}
.subjectsForm ::ng-deep input {
  width: 100%;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #c0c0c0 !important;
}
.subjectsForm input:focus + .ui-inputgroup-addon {
  background-color: #007ad9 !important;
  color: white !important;
  border-color: #007ad9 !important;
}
.subjectsForm ::ng-deep input:hover {
  border-bottom-color: #000000 !important;
}
.progress-box {
  height: 6px;
}
.p-progress-bar .ui-progressbar-indeterminate {
  border-radius: 0 !important;
}
