<div class="picture">
  <div class="grayBox">
    <header>
      <p-card>

        <div class="container" [hidden]="succsess" (keyup.enter)="Submit()">
          <h2> Відновлення паролю </h2>
          <span class="ui-float-label">
            <input pInputText [(ngModel)]="userName" autofocus type="text" placeholder="Введіть Логін або ел.пошту"
              [class.is-invalid]="userNameRef.invalid && userNameRef.touched" #userNameRef="ngModel" minlength="5"
              maxlength="100" name="userName" class="loginEmail" required>
            <span [class.hiddenBox]="userNameRef.valid || userNameRef.untouched" class="requiredMessage">Логін повинен
              містити не менше 5 символів
            </span>
          </span>

          <div class="massage">
            <span class="user-massage">На Ваш e-mail буде надіслано лист із посиланням на ввід нового паролю.
            </span>
          </div>

          <button pButton type="button" label="Надіслати" (click)="Submit()" [disabled]="((!userNameRef.touched) || (userNameRef.invalid && userNameRef.touched))"
            class="ui-button"></button>
        </div>

        <div class="container" [hidden]="!succsess">
          <h2>Шановний користувач!</h2>
          <p><span class="succsess-massage">На Ваш e-mail успішно було відправлено листа.<br /></span></p>
          <p><span class="succsess-massage">Для відновлення паролю дотримуйтесь інструкцій, надісланих Вам на e-mail.</span></p>
        </div>
      </p-card>
    </header>
  </div>
</div>
